<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
  <div class="header"><h1>Stupid Coaching</h1></div>
  <div class="container">
    <p><%= params[:question] %></p>
    <p>- <em>You</em></p>
    <p><%= @answer %></p>
    <p>- <em>Your coach</em></p>
    <p><%= link_to "Ask another question", "/ask" %></p>
  </div>
</body>
